@import (reference) '../../less/variables.less';

.product-list-wrap {
	margin-bottom: 100px;
}

.product-list {
	margin-bottom: 50px;

	&__item {

		&:nth-child(2n+1) {

		}

		&:nth-child(2n) {

			& .product-item {
				background-color: @color-black;

				&__title {
					color: #fff;
				}

				@media (min-width: @desktop) {
					&__text {
						order: 2;
					}

					&__img-wrap {
						order: 1;
					}
				}

				@media (min-width: @full) {
					&__inner {
						margin-left: unset;
						margin-right: auto;
						padding: 50px 16px 50px 50px;
					}
				}
			}
		}
	}
}