@import (reference) '../../less/variables.less';

.product-item {
	display: flex;
	flex-direction: column;

	&__text {
		order: 2;
	}

	&__inner {
		padding: 25px 16px 50px;
	}

	&__title {
		color: @color-text;
	}

	&__description {
		color: @color-gray;
	}

	&__button {
		color: @color-brand;
	}

	&__img {
		order: 1;
		position: relative;
		height: 200px;

		@img-block();
	}
}