@import (reference) '../../less/variables.less';

.header {
	position: relative;
	z-index: 1;

	&__group {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		overflow: auto;
		background-color: #363636;
		padding: 60px 30px 30px 30px;
		transform: translateX(-100%);
		transition: transform .3s ease;
	}

	&.is-open &__group {
		transform: translateX(0);
	}

	&__group-inner {

	}

	&__logo {

		& img {
			display: block;
			margin: 0 auto;
		}
	}

	&__link {
		display: none;
	}
}

.market-link {
	display: flex;
	align-items: center;

	span {
		color: #fff;
		padding-right: 8px;
		white-space: nowrap;
	}

	& svg {
		fill: #fff;
		width: 24px;
		height: 24px;
	}
}