@import (reference) '../../less/variables.less';

.header {
	position: relative;
	z-index: 2;

	@media (min-width: @desktop) {
		display: flex;
		align-items: center;
	}

	&__logo {
		display: flex;
		justify-content: center;

		& a {
			display: block;
			margin: 0 auto;
		}

		& img {
			display: block;
			height: 50px;

			@media (min-width: @desktop) {
				height: 62px;
			}
		}
	}

	&__group {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: #363636;
		padding: 60px 30px 30px 30px;
		transform: translateX(-100%);
		transition: transform .3s ease;

		@media (min-width: @desktop) {
			flex: 1 1 auto;
			position: unset;
			top: unset;
			left: unset;
			width: unset;
			height: unset;
			overflow: unset;
			background-color: unset;
			padding: unset;
			transform: unset;
		}
	}

	&.is-open &__group {
		transform: translateX(0);
	}

	&__group-inner {

		@media (min-width: @desktop) {
			display: flex;
		}
	}

	&__menu {
		margin-bottom: 16px;

		@media (min-width: @desktop) {
			flex: 1 1 auto;
			margin-bottom: unset;
			padding-left: 50px;
		}
	}

	&__social {
		display: flex;
		margin-bottom: 16px;

		@media (min-width: @desktop) {
			margin-bottom: unset;
			padding: 0 20px;
		}

		& a {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 8px;

			& svg {
				width: 20px;
				height: 20px;
				fill: #fff;

				@media (min-width: @desktop) {
					width: 18px;
					height: 18px;
				}
			}
		}
	}

	&__connection {
		display: flex;
		margin-bottom: 16px;

		@media (min-width: @desktop) {
			margin-bottom: unset;
			padding: 0 20px;
		}

		& a {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 8px;

			& svg {
				width: 20px;
				height: 20px;
				fill: @color-brand;

				@media (min-width: @desktop) {
					width: 18px;
					height: 18px;
				}
			}
		}
	}

	&__link {

	}
}

.market-link {
	display: flex;
	align-items: center;
	padding: 8px 16px;

	span {
		font-size: 18px;
		color: #fff;
		padding-right: 8px;
		white-space: nowrap;

		@media (min-width: @desktop) {
			font-size: 16px;
		}
	}

	& svg {
		fill: #fff;
		width: 28px;
		height: 28px;

		@media (min-width: @desktop) {
			width: 24px;
			height: 24px;
		}
	}
}