@import (reference) '../../../less/variables.less';

.pagination-wrap {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.pagination {
	display: flex;
	align-items: center;
	list-style: none;

	&__item {
		padding: 0 3px;
	}

	&__item_middle {
		position: relative;
	}

	&__link {
		position: relative;
		width: 48px;
		height: 48px;
		font-size: 20px;
		cursor: pointer;
		font-weight: 500;
		border-radius: 100%;
		border: 2px dashed transparent;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: color .3s ease-out;

		&:hover {
			color: @color-brand;
		}

		& svg {
			width: 24px;
			height: 24px;
			fill: @color-text;
			transition: fill .3s ease-out;
		}

		&:hover svg {
			fill: @color-brand;
		}

		&:active svg {
			fill: @color-brand;
		}
	}

	&__link:hover {

	}

	&__link.is-active {
		cursor: default;
		border: 2px dashed @color-brand;
		color: @color-brand;
	}

	&__link-dots {
		position: relative;
		width: 40px;
		height: 40px;
		font-weight: 500;
		border-radius: 8px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: color .3s ease, background .3s ease;

		&:hover {
			color: @color-brand;
		}
	}
}