@import (reference) '../../less/variables.less';

.section-address {

	&__body {
		background-color: @color-black;
		padding: 50px 16px;
	}

	&__inner {
		color: @color-gray;
	}

	&__map {
		height: 250px;
	}
}


.contacts-map {
	height: 100%;
}