@import (reference) '../../less/variables.less';

.section-address {

	&__body {
		background-color: @color-black;
		padding: 50px 16px;
	}

	&__inner {
		color: @color-gray;
	}

	&__map {
		height: 250px;
	}

	& .section-title {
		color: #fff;
	}

	& .footer-contacts__item span {
		font-size: 18px;
	}

	& .footer-contacts__item:not(:last-child) {
		margin-bottom: 20px;
	}
}


.contacts-map {
	height: 100%;
}