@import (reference) '../../less/variables.less';

.main-banner {
	//margin-top: -50px;
	margin-top: -62px;
	min-height: 500px;
	height: 95vh;

	@media (min-width: @desktop) {
		//margin-top: -62px;
	}

	& .swiper-container {
		height: 100%;
	}

	& .swiper-slide {
		height: unset;
	}

	&__img {
		--aspect-ratio: 1/1;

		@media (min-width: @tablet) {
			--aspect-ratio: 16/9;
		}

		@media (min-width: @full) {
			--aspect-ratio: 18/8;
		}

		@img-block();

		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, .3);
			z-index: 1;
		}
	}

}

.main-banner-slide {
	height: 100%;
	position: relative;
	display: flex;
	align-items: flex-end;
	padding: 0 16px;

	&__img {
		@fill-bg-img();
	}

	&__inner {
		position: relative;
		max-width: 1000px;
		margin: 0 auto;
		padding-bottom: 40px;

		@media (min-width: @desktop) {
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
			width: 1000px;
		}
	}

	&__text {
		background-color: rgba(255, 255, 255, 0.8);
		padding: 16px;
		color: @color-gray-darkest;
		margin-bottom: 24px;
		opacity: 0;
		transition: opacity .6s ease-out .3s;

		@media (min-width: @tablet) {
			padding: 24px;
		}

		@media (min-width: @desktop) {
			margin-bottom: unset;
			padding: 32px;
		}
	}

	.swiper-slide-active &__text {
		opacity: 1;
	}

	&__title {
		font-size: 20px;
		margin-bottom: 8px;
		transform: translateY(-20px);
		opacity: 0;
		transition: opacity .6s ease-out .6s, transform .6s ease-out .6s;

		@media (min-width: @tablet) {
			font-size: 24px;
			margin-bottom: 16px;
		}

		@media (min-width: @desktop) {
			font-size: 30px;
		}
	}

	.swiper-slide-active &__title {
		transform: translateY(0);
		opacity: 1;

	}

	&__description {
		font-size: 16px;
		opacity: 0;
		transition: opacity .6s ease-out .9s;

		@media (min-width: @tablet) {
			font-size: 18px;
		}

		@media (min-width: @desktop) {
			font-size: 20px;
		}
	}

	.swiper-slide-active &__description {
		opacity: 1;
	}

	&__button {
		display: flex;
		justify-content: center;
		transform: translate(0, 10px);
		opacity: 0;
		transition: opacity .6s ease-out .9s, transform .6s ease-out .9s;

		@media (min-width: @desktop) {
			justify-content: flex-end;
			padding-left: 80px;
			min-width: 300px;
			transform: translate(20px, 0);
		}
	}

	.swiper-slide-active &__button {
		transform: translate(0, 0);
		opacity: 1;
	}

}